svg * { transform-origin: 50% }

@keyframes left {
  100% { transform: rotate(-360deg) }
}

@keyframes right {
  100% { transform: rotate(360deg) }
}

.goo_wrapper{
    position: relative;
    top: 200px;
    background-image: linear-gradient(to right,#DA6BCB, #1B549D);
    width: 20%;
    margin: auto;
    border-radius: 16px;

}

@media(max-width: 900px){
  .goo_wrapper{
    width: 30%;
  }
}

@media(max-width: 600px){
  .goo_wrapper{
    width: 40%;
  }
}

@media(max-width: 500px){
  .goo_wrapper{
    width: 55%;
  }
}

@media(max-width: 400px){
  .goo_wrapper{
    width: 65%;
  }
}