.App {
  text-align: center;
  background-image: url("media/citybackground.jpg");
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.disappear{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;;
}

.reappear{
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;;
}

.UI_subcontainer{
 display: flex;
 justify-content: space-around;
 margin-top: 5em;
 background-color: #424C4D;
 padding: 1%;
 padding-top: 2%;
 border-radius: 16px;
 margin-right: auto;
 margin-left: auto;
 width: 95%;
}

.UI_Container{
  margin-top: 3%;
}

.small_pair{
  display: flex;
  
}
.small_pair > div{
  margin-right: 5%;
  
}

@media(max-width:1200px) {
  .UI_subcontainer{
    flex-flow: column wrap;

    /* background-image: linear-gradient(to right,#9D65AD, #1B549D); */
    /* background-image: linear-gradient(to right, #D6C7E7, #E7DCC7); */
    background: radial-gradient(circle, rgba(53,44,57,0.5452556022408963) 78%, rgba(144,70,252,1) 100%);
  }
  .UI_subcontainer > div{
    margin: auto;
    margin-bottom: 5%;
    
  
  }
  .UI_Container{
    width: 60%;
    margin: auto;

  }
  .small_pair{
    justify-content: space-around;
  }
  .small_pair > div{
    margin: 3%;
  }
}
/* .UI_Container > div{
  margin-top: 10px;
  margin-bottom: 10px;
} */
/* 
@media(max-width:1200px) {
  .UI_Container{
    direction: column;
    display: flex;
   
    flex-flow: column wrap;
    justify-content: space-evenly;
    width: 50%;
    padding-top: 1%; 
   
  }
  .UI_Container > div{
   
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
  
  }

  .UI_subcontainer{
    padding: 50px;
  }
} */


