.App {
  text-align: center;
  background-image: url("media/citybackground.jpg");
  background-size: cover;
}

.disappear{
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;;
}

.reappear{
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;;
}

.UI_Container{
  display: flex;
 justify-content: space-around;
 margin-top: 5em;
 background-color: #424C4D;
 padding: 50px, 0, 5%, 0; 
 border-radius: 16px;
 margin-right: auto;
 margin-left: auto;
 width: 95%;
}

.UI_Container > div{
  margin-top: 10px;
  margin-bottom: 10px;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
