.outter_wrapper{
    padding-top: 20px;
  
}

.title_div{
    padding-top: 30px;
    padding-bottom: 10px;
    background-image: linear-gradient(to right,#7C65AF, #1B549D);
    width: 80%;
    margin: auto;
    border-radius: 16px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 300;
}

@media(max-width: 750px){
    .title_div{
        width: 75%;
    }
}

/* @media(max-width: 600px){
    .title_div{
        font-size: 60%;
    }
} */