.borough_menu_wrapper{
    background-image: linear-gradient(to right,#7C65AF, #1B549D);
    border-radius: 16px;
    padding: 10px;
}

@media(max-width:1200px){
    .borough_menu_wrapper{
        
        margin:auto;
    } 

}