.component_wrapper{
  background-image: linear-gradient(to right,#7C65AF, #1B549D);
  border-radius: 16px;
  padding: 20px;
  padding-bottom: 30px;
}

.value{
    font-size: 30px;
    color: white;
    padding: 5px;
}

.slider_container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height:8vh;

}


.slider{
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    border: solid black;
   border-radius: 16px;
    background-color: #85BBAC;
    opacity: .8;
}

.slider -webkit-slider-thumb {
    -webkit-appearance: none;
  }

.slider -ms-track {
    width: 100%;
    cursor: pointer;
    background-color: ;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  


/* Special styling for WebKit/Blink */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    cursor: pointer;
    border-radius: 16px;
     /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
     /* margin-top: -14px; */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
.slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
.slider::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }