.submit_btn_wrapper{
    position: relative;
    background-image: linear-gradient(to right,#7C65AF, #1B549D);
    border-radius: 16px;
    padding: 1em;
    margin-left: 1%;
}

.submit_btn{
    margin-top: 8%;
    padding: 15px 25px;
    font-size: 15px;
    background-color: #424C4D;
    border-radius: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 4px #999;
    border: none;
    cursor: pointer;
   
}

.submit_btn:hover {
    background-color: #0D7689;
    animation: 'right 4s linear infinite'
}
.submit_btn:active {
    background-color: #0D7689;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
  }

.swal-modal {
    background-color: #1F2425;
    border: 6px solid #424C4D;
    opacity: 1;
    color: white;
  }

.swal-text{
    text-align: center;
    color: white;
    font-size: large;
}

.swal-title{
    color: white;
}

.swal-overlay {
    background-color: #724B85;
  
  }