.leaflet-container{
   margin-top: 100px;
    width: 90vw;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    border: solid #424C4D 10px;
    border-radius: 16px;
}

.popup p {
     font-weight: bold;
}

.map_container{
    margin-bottom: 20px;
}