.lineGraph_wrapper{
    color: white;
    background-color: #130723;
    width: 60%;
    border-radius: 16px;
    margin: auto;
    border-color: blueviolet;
    overflow: auto;
    /* border-color: linear-gradient(to right,#7C65AF, #1B549D); */
    padding: 20px;
    margin-bottom: 20px;
}

.outter_linegraph_wrapper{
    border-color: linear-gradient(to right,#7C65AF, #1B549D);
    border-width: 50px;
    background-color: linear-gradient(to right,#7C65AF, #1B549D);

   
}